<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>GPIO Test Interface</title>
</head>
<body>
    <div class="main">
        <div class="main-btn">
            <button class="btn-gpio header-btn pressed" id="btn-gpio" type="button">Gpio</button>
            <button class="btn-uart header-btn" id="btn-uart" type="button">UART</button>
            <button class="btn-sensors header-btn" id="btn-sensors" type="button">Sensors</button>
        </div>
        <div class="main-data">
            <div class="gpio container" id="gpio">
                <div class="gpio-row">
                    <p>Relay 1: </p>
                    <div class="tog-container" id="switcher-box-1">
                        <button class="btn-toggler" id="switcher-1"></button>
                    </div>
                </div>
                <div class="gpio-row">
                    <p>Relay 2: </p>
                    <div class="tog-container" id="switcher-box-2">
                        <button class="btn-toggler" id="switcher-2"></button>
                    </div>
                </div>
                <div class="gpio-row">
                    <p>Relay 3: </p>
                    <div class="tog-container" id="switcher-box-3">
                        <button class="btn-toggler" id="switcher-3"></button>
                    </div>
                </div>
                <div class="gpio-row">
                    <p>Relay 4: </p>
                    <div class="tog-container" id="switcher-box-4">
                        <button class="btn-toggler" id="switcher-4"></button>
                    </div>
                </div>
                <div class="gpio-row">
                    <p>Relay 5: </p>
                    <div class="tog-container" id="switcher-box-5">
                        <button class="btn-toggler" id="switcher-5"></button>
                    </div>
                </div>
                <div class="gpio-row">
                    <p>Relay 6: </p>
                    <div class="tog-container" id="switcher-box-6">
                            <button class="btn-toggler" id="switcher-6"></button>
                        </div>
                </div>
                <div class="gpio-row">
                    <p>Relay 7: </p>
                    <div class="tog-container" id="switcher-box-7">
                        <button class="btn-toggler" id="switcher-7"></button>
                    </div>
                </div>
                <div class="gpio-row">
                    <p>Relay 8: </p>
                    <div class="tog-container" id="switcher-box-8">
                        <button class="btn-toggler" id="switcher-8"></button>
                    </div>
                </div>
                <div class="gpio-row">
                    <p>Relay 9: </p>
                    <div class="tog-container" id="switcher-box-9">
                        <button class="btn-toggler" id="switcher-9"></button>
                    </div>
                </div>
            </div>
            <div class="uart container hide" id="uart">
                <button type="button" class="btn" id="btn-uart2">Send UART2</button>
                <p>Address uart2:</p>
                <button type="button" class="btn" id="btn-uart4">Send UART4</button>
                <p>Address uart4:</p>
            </div>
            <div class="sensors container hide" id="sensors">
                <p>Temperature</p>
                <p>Humidity</p>
                <p>Pressure</p>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='app.js') }}"></script>
<script src="{{ url_for('static', filename='switcher.js') }}"></script>
</html>
